#tsparticles {
  position: absolute;
  z-index: -99999;
}

#wrapper {
  position: relative;
  display: inline-block;
}
#reel {
  width: 100vw;
}
.overlay {
  position: absolute;
  width: 256px;
  left: 35%;
  top: 50%;
  opacity: 0.5;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}